*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f0fcff;

}
html{
    font-size: 16px;
}


body{
    display: grid;
}


header{
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.gal{
    color: #bebeed;
}

main{
    gap: 20px;
}

main .top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 0;

}

.quatro{
    grid-area: side;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 450px;
    height: 450px;
    justify-content: center;
    align-items: center;
}

.big img{
    width: 264x;
    height: 489px;
    transition-property: all;
    transition-duration: 0.3ms;
    transition-timing-function: ease;
    transition-delay: 0.1;
}

.big img:hover{
    background-color: black;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.quatro img{
    width: 200px;
    height: 200px;
    transition-property: all;
    transition-duration: 0.2;
    transition-timing-function: ease;
    transition-delay: 0.1;
}

.quatro img:hover{
    background-color: black;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.bottom{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.bottom img{
    width: 200px;
    height: 180px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
}

.bottom img:hover{
    background-color: black;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.bottom img{
    height: 10.3vw;
}

footer{
    display: flex;
    justify-content: center;
}
.button{
    font-family: 'Poppins', sans-serif;
    display: flex;
    font-size: 1vw;
    color: white;
    background-color: #2b83ef;
    padding: 10px;
    border-radius: 25px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    width: 8vw;
    height: 3vw;
}

.button img:hover{
    transform: scale(1.3);
    transition: 0.5ms;
    transition-delay: 1.3;
}

.linha{
    height: 3px;
    width: 30px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    top: 60px;
}
